@import "tailwindcss";

@layer base {
  body {
    @apply font-sans bg-[#F7F9FC] text-[#1A1D29];
  }
}

@layer utilities {

 /* Cores Primarias */
  .bg-primary-green { background-color: #2ED47A; }
  .bg-primary-purple { background-color: #6C63FF; }
  .bg-primary-blue { background-color: #4DA3FF; }

  .text-primary-green { color: #2ED47A; }
  .text-primary-purple { color: #6C63FF; }
  .text-primary-blue { color: #4DA3FF; }

  /* Estados financeiros */
  .text-success { color: #2ED47A; }
  .text-warning { color: #FFC857; }
  .text-danger { color: #FF5A5F; }
  .text-medium { color: #FF8A65; }

  .bg-success { background-color: #2ED47A; }
  .bg-warning { background-color: #FFC857; }
  .bg-danger { background-color: #FF5A5F; }
  .bg-medium { background-color: #FF8A65; }

  /* Cores do Comportamental */
  .text-strategic { color: #5BC0EB; }
  .text-reactive { color: #FFB703; }
  .text-impulsive { color: #FB5607; }
  .text-defensive { color: #8338EC; }

  .bg-strategic { background-color: #5BC0EB; }
  .bg-reactive { background-color: #FFB703; }
  .bg-impulsive { background-color: #FB5607; }
  .bg-defensive { background-color: #8338EC; }

  /* Base da UI */
  .bg-app { background-color: #F7F9FC; }
  .bg-card { background-color: #FFFFFF; }
  .bg-hover { background-color: #F1F4FA; }
  .border-soft { border-color: #E6EAF2; }

  .text-primary { color: #1A1D29; }
  .text-secondary { color: #6B7280; }
  .text-disabled { color: #A0A7B8; }

  /* Gradientes */
  .bg-gradient-ai {
    background: linear-gradient(90deg, #6C63FF, #4DA3FF);
  }

  .bg-gradient-emotional {
    background: linear-gradient(90deg, #FFB703, #FB5607);
  }

  .bg-gradient-success {
    background: linear-gradient(90deg, #2ED47A, #5BC0EB);
  }
}